.wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
}

/* header */
.header {
  height: 52px;
  border-bottom: 1px solid #e5e7eb;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 18px;
  background: #ffffff;
}

.ticketId {
  color: #86898C;
  font-size: 14px;
  font-weight: 600;
}

.headerActions {
  display: flex;
  gap: 12px;
}

.headerLink {
  border: none;
  background: transparent;
  font-size: 12px;
  color: #6b7280;
  cursor: pointer;
}

/* messages */
.messagesArea {
  flex: 1;
  padding: 16px 18px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;    /* FIX */
  justify-content: flex-end; /* Makes view start from bottom while still listing in correct order */
}

.dateDivider {
  text-align: center;
  font-size: 11px;
  color: #9ca3af;
  margin-bottom: 16px;
}

.messageRowLeft,
.messageRowRight {
  display: flex;
  align-items: flex-end;
  gap: 8px;
  margin-bottom: 10px;
}

.messageRowRight {
  justify-content: flex-end;
}
.msgStatus {
  font-size: 10px;
  margin-left: 6px;
  opacity: 0.7;
}


.bubbleAvatar {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  font-size: 14px;
  color: white;
  flex-shrink: 0;
  text-transform: uppercase;
}


.bubbleLeft,
.bubbleRight {
  max-width: 60%;
  border-radius: 12px;
  padding: 10px 12px;
  font-size: 13px;
  line-height: 1.4;
}

.bubbleLeft {
  background: #ffffff;
}

.bubbleRight {
  color: #000;
  font-weight: 500;
}


.bubbleMeta,
.bubbleMetaRight {
  color: #5E9BD5;
  font-size: 11px;
  font-weight: 500;
  margin-bottom: 4px;
}

.bubbleMetaRight {
  text-align: right;
}

.bubbleText {
  margin: 0;
}

.link {
  color: #137DE1;
  text-decoration: underline;
}

.replyingBadge {
  text-align: center;
  font-size: 15px;
  color: #FF0000;
  margin: 10px 0 24px;
}

/* input */
/* New large message area container */
.inputBar {
  position: relative;
  background: #ffffff;
  padding: 16px;
}

/* Big rounded message box */
.textArea {
  width:94%;
  height: 100px;
  border: 2px solid #d1d5db;
  border-radius: 14px;
  padding: 16px 20px;
  font-size: 16px;
  resize: none;
  outline: none;
  color: #374151;
  background: #ffffff;
}

.textArea::placeholder {
  color: #9ca3af;
  font-size: 18px;
}

/* Floating send button INSIDE the message box */
.floatingSendBtn {
  position: absolute;
  bottom: 32px;
  right: 32px;

  width: 36px;
  height: 36px;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 999px;
  border: 1px solid #d1d5db;

  background: #ffffff;
  color: #9ca3af;
  font-size: 15px;

  cursor: pointer;
  transition: 0.2s ease;
}

.floatingSendBtn:hover {
  color: #184E7F;
  border-color: #184E7F;
}


.emptyState {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #9ca3af;
  font-size: 14px;
}
