.container {
  width: 100%;
  padding: 20px 0 40px;
  background: #f5f9ff;
  text-align: center;
  font-family: "Inter";
}

.title {
  font-size: 32px;
  font-weight: 700;
  color: #1b2e4b;
  line-height: 1.3;
}

.subtitle {
  max-width: 700px;
  margin: 12px auto 40px;
  font-size: 15px;
  color: #51627a;
  line-height: 1.6;
}

/* CARD */
.card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 75%;
  height: 300px;
  margin: 0 auto;
  padding: 24px;
  border-radius: 16px;
  background: linear-gradient(to right, #ffffff 55%, #f0f6ff 100%);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.08);
}

/* LEFT SIDE */
.left {
  width: 45%;
  text-align: left;
}

.leftTitle {
  font-size: 18px;
  font-weight: 700;
  color: #1b2e4b;
  margin-bottom: 12px;
}

.helper {
  color: #68788f;
  font-size: 14px;
  margin-bottom: 20px;
}

.featureBlock {
  margin-bottom: 16px;
}

.featureBlock strong {
  color: #1b2e4b;
  font-size: 15px;
}

.featureBlock p {
  color: #6c7b92;
  font-size: 14px;
  margin-top: 4px;
}

/* RIGHT SIDE */
.right {
  width: 45%;
  position: relative;
}

.imageContainer {
  width: 300px;
  height:300px;
  overflow: hidden;
}